.backgroundParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.leftParent {
  position: relative;
  bottom: 0;
  left: 0;
}

.rightParent {
  position: relative;
  bottom: 0;
  right: 0;
}
.outerImgLeft {
  position: relative;
  top: 0;
  left: 0;
  width: 462px;
  height: 348px;
}

.innerImgLeft {
  position: absolute;
  top: -13.2px;
  left: 0px;
  width: 650px;
  height: 362px;
}

.imgOverlay {
  position: absolute;
  width: 468px;
  height: 472px;
  left: calc(47% - 468px / 2 - 10px);
  top: 530px;
  z-index: 1;
}

.outerImgRight {
  position: relative;
  top: 1px;
  right: 0px;
  width: 843px;
  height: 348px;
}

.innerImgRight {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 480px;
  height: 350px;
}
