

.connection {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 200px;
  top: 268px;
  background-image: url('../images/Ellipse%2026.png'); /* Update the file name and extension */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.connectionLink {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 209.5px;
  top: 277px;
  background-image: url('../images/link-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.conText {
  position: absolute;
  width: 155px;
  height: 57px;
  left: 200px;
  top: 302px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #312f2e;
}

.registration {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 200px;
  top: 456px;
  background-image: url('../images/Ellipse%2026.png'); /* Update the file name and extension */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.registrationNote {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 212px;
  top: 467px;
  background-image: url('../images/2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.regText{
  position: absolute;
  width: 155px;
  height: 57px;
  left: 200px;
  top: 490px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}