.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
  }
  
  .menuItems {
    display: flex;
    margin-right: 51px; /* Add margin on the right */
  }
  
  
  .menuItem {
    font-family: 'Lato', sans-serif;
    margin-left: 51px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: #101010;
  }

  .menuItem a{
    color: #101010;
    text-decoration: none;
  }
  
  .menuItem::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -7px; /* Adjust the distance here */
    background: #F8C325;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
  .menuItem:hover::after,
  .menuItem.active::after {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .menuItem.active {
    color: #F8C325;
  }
  