/* body {
  position: absolute;
  width: 1440px;
  height: 832px;
  left: 0px;
  top: 4px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(248, 195, 37, 0.21) 100%
  );
} */
